.App {
  padding-left: 84px;
  padding-right: 84px;
}
.textarea{
  margin-top: 24px;
  width: 100%;
  flex: 1;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
  font-family: monospace;
  max-height: 500px;
  min-height: 300px;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.separator{
  width: 20px;
}
.playground {
  flex: 1;
  display: flex;
  padding-top: 24px;
}
h1 {
  font-size: 150%;
  color: dodgerblue;
  margin: 0;
  padding: 20px 0;
}
.info {
  padding: 0 0 40px 0;
}
.valid{
  color: green;
  font-weight: bold;
}
.error{
  color: red;
  font-weight: bold;
}